* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Approach Mono TRIAL', sans-serif;
}

:root {
    --text-color-primary: #000;
    --text-color-secondary: #262626;
    --text-color-input: #313131; 
    --background-color-btn: #FFD601;
    --background-color-btn-hover: #feea2e;
    --background-color-container-result:#F4F4F4;
    --body-background-color: #2320A4;
    --background-color-search-bar: #FFF;
    --background-color-search-bar-input: rgba(224, 225, 228, 0.45);
    --background-color-repositories: #fff;
    --background-color-tag-pr: #F00;
    --background-color-tag-followers: #AD00FF;
    --background-color-tag-following: #0500FF;
}

.light {
    --text-color-primary: #FFFFFF;
    --text-color-secondary: #F4F4F4;
    --text-color-input: rgba(244, 244, 244, 0.7);
    --background-color-btn: #50F573;
    --background-color-btn-hover: #20fc50;
    --background-color-container-result: #262626;
    --body-background-color: #161616;
    --background-color-search-bar: #262626;
    --background-color-search-bar-input: rgba(224, 225, 228, 0.08);
    --background-color-repositories: #434343;
    --background-color-tag-pr: #EF3F3F;
    --background-color-tag-followers: #02976A;
    --background-color-tag-following: #228095;
}

body {
    background-color: var(--body-background-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#container {
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#btn-theme {
    width: 40px;
    background: none;
    border-style: none;
    cursor: pointer;
}

header {
    max-width: 740px;
    width: 740px;
    display: flex;
    justify-content: space-between;
}

#search-bar {
    display: flex;
    width: 740px;
    height: 60px;
    margin: 29px 0;
    padding: 8px 10px;
    gap: 14px;
    justify-content: space-between;

    border-radius: 15px;
    background-color: var(--background-color-search-bar);
}

#search-bar input {
    width: 550px;
    height: 42px;
    max-height: 42px;
    padding: 17px 50px;
    display: flex;
    align-items: flex-start;
    
    color: var(--text-color-input);
    border-radius: 10px;
    background-color: var(--background-color-search-bar-input);
    border-style: none;
}

#span{
    background:url(./assets/icon-search.svg);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 1.2em;
    padding-left: 1.3em;
    padding-top: 4em;
    margin: 0 15px;
}

.btn-search {
    background-color: var(--background-color-btn);
    border-style: none;
    border-radius: 10px;
    width: 170px;
    height: 42px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);

    color: #313131;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    cursor: pointer;
}

.btn-search:hover {
    background-color: var(--background-color-btn-hover);
}

#container-result {
    width: 740px;
    padding: 64px 58px;
    background-color: var(--background-color-container-result);
    border-radius: 20px;
    border-style: none;
    margin-bottom: 10%;
    display: none;
    align-items: flex-start;
    gap: 40px;
}

#section-1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
}

#img-avatar {
    width: 180px;
    height: 180px;
    border-radius: 100%;
    cursor: pointer;
}

#profile-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

#profile-details li {
    display: flex;
    gap: 10px;
}

li img {
    width: 10px;
}

li p {
    color: var(--text-color-secondary);
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

#section-2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 17px;
    width: 100%;
}

h1 {
    color: var(--text-color-primary);
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

#username {
    color: var(--text-color-primary);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

#bio-description {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: var(--text-color-secondary);
    height: 63px;
    max-height: 90px;
}

#cards-tags {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 10px;
    list-style: none;
}

#public-repositories {
    background: var(--background-color-tag-pr);
    border-radius: 4px;
    color: #F4F4F4;
    padding: 2px 10px;
    text-align: center;
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

#followers {
    background: var(--background-color-tag-followers);
    border-radius: 4px;
    color:#F4F4F4;
    padding: 2px 10px;
    text-align: center;
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

#following {
    background: var(--background-color-tag-following);
    border-radius: 4px;
    color: #F4F4F4;
    padding: 2px 10px;
    text-align: center;
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

#repositories {
    display: flex;
    padding: 25px;
    align-items: flex-start;
    border-radius: 20px;
    background: var(--background-color-repositories);
    width: 100%;
    height: 188px;
    word-break: break-all;
}

#projects {
    display: flex;
    flex-wrap: wrap;
    width: 169.5px;
    height: 138px;
    max-width: 270px;
    max-height: 150px;
    flex-direction: column;
    align-items: flex-start;
    color: #000;
    font-size: 14px;
}